body {
  display: flex;
  flex-direction: column;
  background-color: #637b51;
  margin: 0 0;
  min-height: 100vh;
  font-family: 'opendyslexicregular';
}

@font-face {
  font-family: 'opendyslexicregular';
  src: url("../font/opendyslexic-regular-webfont.woff") format('woff'),
    url("../font/opendyslexic-regular-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
  
h5 {

  padding: 1vh 2vw 1vh 2vw;

  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.5rem;
}

@media (min-width: 700px) {
  h5 {

    padding: 1vh 2vw 1vh 2vw;
  
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.9rem;
  }}


p {
  margin: 0;
  font-size: 0.5rem;

}

@media (min-width: 680px) {
  p {
    font-size: 1rem;

  }
}

h4 {
  margin: 3vw;
  font-size: 0.6rem;

}

@media (min-width: 500px) {
  h4 {
    font-size: 1rem;

    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.3rem;

    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 2000px) {
  h4 {
    font-size:1.5rem;

    margin-top: 0;
    margin-bottom: 0;
  }
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

/** Navbar **/

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

nav a {
  background: rgb(99, 123, 81);
  background: linear-gradient(90deg, rgba(99, 123, 81, 1) 32%, rgba(130, 151, 114, 1) 72%);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 2em;
}

li {
  position: relative;
  float: left;
}

li a {
  display: flex;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background: linear-gradient(90deg, rgba(204, 202, 173, 1) 32%, rgba(139, 135, 91, 1) 72%);
  color: black;
}

li ul {
  position: absolute;
}

li:hover ul {
  display: block;
}

.active {
  color: rgba(204, 202, 173, 1)
}

.headline {
  display: inline-block;
  justify-content: center;
  border-radius: 25px;

}

/** Headline decoration **/
span {

  background-image: url("../images/land_page.jpg");
  -webkit-background-clip: text;
  background-clip: text;
color: transparent;
  background-size: 200%;
  font-size: larger;
  margin: 1vh 1vh;
  box-shadow:none;
  text-shadow: none;
  border: none;
}

@media (min-width: 700px) {
span {
  background-image: url("../images/land_page.webp");
  -webkit-background-clip: text;
  background-clip: text;
color: transparent;
  background-size: 200%;
  font-size: 150%;
  margin: 1vh 1vh;
  box-shadow:none;
  text-shadow: none;
}}

h1 {
  display: inline-block;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-size: 0.9rem;

  border-radius: 51px;
  background: #e0e0e0;
  box-shadow: inset 13px 13px 25px #a8a8a8,
  inset -13px -13px 25px #ffffff;

  border-color: #8b875b;
  
  text-shadow: -6px 0px 5px rgba(248, 248, 248, 1);
 
}

@media (min-width: 700px) {
  h1 {
    display: inline-block;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    text-shadow: -6px 0px 5px rgba(128, 128, 128, 0.66);
    margin:2vw 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/** Hero_segment **/

#text_box_landingpage {

  position: absolute;
  max-height:90%;
  right: 2vw;
  background: linear-gradient(90deg, rgba(139, 135, 91, 1) 32%, rgba(99, 123, 81, 1) 72%);
  border-radius: 25% 10% 25% 0;
  opacity: 0.9;
  z-index: 3;
  
}
  @media (min-width: 700px) {
    #text_box_landingpage {
      max-width: 60%;
  }
}

#innerbox-landingpage {
  display: inline-block;

  background: linear-gradient(90deg, rgb(255, 255, 255) 32%, rgba(255, 254, 248, 0.7) 72%);
  z-index: 2;
  width: 98%;
  max-width:69vw;
  border-top: solid;
  border-right: solid;
  border-color: #8b875b;
  border-radius: 25% 10% 25% 0;
 
  background: #e0e0e0;
  box-shadow: inset 13px 13px 25px #a8a8a8,
  inset -13px -13px 25px #ffffff;
}

#text-div {
  display: inline-block;
  width: 90%;
  margin-left: 8%;
  z-index: 1;
}


  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }}

audio {
  height: 5vh;
  width: 40vw;
min-width:35vw;
  border: 1px solid #8b875b;
  border-radius: 50px;

}

footer {
  margin-bottom:0;
  padding-top:1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  max-height: 8vh;
  width: 100%;
  border-top: groove 5px #8B875B;
  background: linear-gradient(90deg, rgba(139, 135, 91, 1) 32%, rgba(99, 123, 81, 1) 72%);

}

footer a {
  text-decoration: none;
}

footer img {
  margin-bottom:0;
  max-height:4vh;
  min-width:4vw;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 33.3%;
  text-align: center;
}
