body {

  background-color: #637b51;
  display: flex;
  flex-direction: column;
  margin:0;
  padding:0;
  min-height: 100vh;
}

@font-face {
  font-family: 'opendyslexicregular';
  src: url('/assets/font/opendyslexic-regular-webfont.woff2') format('woff2'),
    url('/assets/font/opendyslexic-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

header{

display: sticky;
width:100%;
margin:0;
}

h1{
  font-family: 'opendyslexicregular';
  position: absolute;
  left:10vh;
  top:2vh;
  text-shadow: 5px 5px #b3b3b3;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  background: white;
  transform: rotate(-2deg);

}

/** Navbar **/

nav {
  display: inline-block;
position: absolute;
left:116vh;
max-width: 320vh;
margin: 0 0 auto auto;
z-index: 4;
}

a {
background: rgb(99,123,81);
background: -moz-linear-gradient(90deg, rgba(99,123,81,1) 32%, rgba(130,151,114,1) 72%);
background: -webkit-linear-gradient(90deg, rgba(99,123,81,1) 32%, rgba(130,151,114,1) 72%);
background: linear-gradient(90deg, rgba(99,123,81,1) 32%, rgba(130,151,114,1) 72%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#637b51",endColorstr="#829772",GradientType=1);


  width: 20vh;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  
}

p {
  margin: 0;
  font-size: 2.5vh;
  font-family: 'opendyslexicregular';
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: solid 1px;
  

}

li {
  position: relative;
  float: left;
  border-right: 1px solid #bbb;


}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1vh;
  text-decoration: none;

}

li a:hover {
background: rgb(204,202,173);
background: -moz-linear-gradient(90deg, rgba(204,202,173,1) 32%, rgba(139,135,91,1) 72%);
background: -webkit-linear-gradient(90deg, rgba(204,202,173,1) 32%, rgba(139,135,91,1) 72%);
background: linear-gradient(90deg, rgba(204,202,173,1) 32%, rgba(139,135,91,1) 72%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccaad",endColorstr="#8b875b",GradientType=1);
  color: black;
}

li ul {
  position: absolute;

}

li:hover ul {
  display: block;
}

.active {
  background-color: #04AA6D;
}
#text_box_landingpage{
  display:inline-block;
  width:80vh;
  height:61.25vh;
  position: absolute;
  right:10vh;
  top:18.75vh;
  background: linear-gradient(90deg, rgba(139, 135, 91,1) 32%, rgba(99,123,81,1) 72%);
  border-radius: 25% 10% 25% 0;
  opacity:0.7;
  z-index: 5;
}

  #innerbox-landingpage {
    display:inline-block;
    width:77.5vh;
    height:60vh;
    background-color: #ffffff;  background: linear-gradient(90deg, rgba(162,149,162,1) 32%, rgba(255, 254, 248,0.7) 72%); z-index: 2;
    position:absolute;
    right:12.5vh;
    top:20vh;
    border-top: solid 5px;
    border-right:solid 5px;
    border-color:#8b875b;
    border-radius: 25% 10% 25% 0;
    z-index: 6;
  
}

#text-div{
  font-family: 'opendyslexicregular';
  width:70vh;
  position:absolute;
  margin-left: 125vh;
  margin-top:22vh;
  z-index: 7;
}

/** End of nav-bar **/



#sun {
  display:inline-block;
  position:absolute;
left:78vh;
top:43.5vh;
  border-radius: 50%;
  height: 30px;
  width: 30px;
    background: linear-gradient(-45deg, #cc5151, #ff7e38, #F2B1A2, #F17022, #740909);
    background-size: 400% 400%;
 -webkit-box-shadow:0px 0px 105px 45px rgba(255,126,56,0.9);
-moz-box-shadow: 0px 0px 105px 45px rgba(255,126,56,0.9);
box-shadow: 0px 0px 105px 45px rgba(255,126,56,0.9);
    animation: gradient 15s ease infinite;
      filter: blur(5px) ;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


footer {
  border-top:groove 5px #8b875b;
 text-align: center;
  position: fixed;
  height:5vh;
  bottom: 0;
  right: 0;
  width: 100%;

  background: linear-gradient(90deg, rgba(139, 135, 91,1) 32%, rgba(99,123,81,1) 72%);
opacity:0.7;}
